.inform-block {
    min-width: 320px;
    width: 100%;
    max-height: min((100vh - 96px) - 60px, 734px);
    display: flex;
    flex-direction: column;
    // min-height: 100px;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    box-shadow: rgb(0 0 0 / 12%) 0px 2px 12px;
    padding-top: 8px;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.avatar {
    margin: 16px 0 12px 12px;
    width: 56px;
    height: 56px;
    border-radius: 50%;
}
.follow-btn {
    margin-right: 16px;
    width: 142px;
    height: 42px;
}

.infor {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
}
.name {
    font-size: 1.5rem;
    line-height: 1.3rem;
}
.check-icon {
    margin-left: 6px;
    font-size: 1.3rem;
    color: rgb(90, 230, 240);
}
.username {
    font-size: 1.4rem;
}
.introduces {
    color: var((--text-color));
    margin-left: 16px;
    font-size: 1.8rem;
    margin-bottom: 16px;
}
.followers-quantity {
    font-weight: 700;
    // margin-left: 16px;
}
.likes-quantity {
    margin-left: 16px;
    font-weight: 700;
}
