.wrapper {
    position: fixed;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    width: var(--sidebar-width);
    max-height: 100%;
    // height: 180vh;
    min-height: calc(100% - 60px);
    padding: 20px 0px 26px 0;
}
