.wrapper {
    display: flex;
    align-items: center;
    padding: 6px 16px;
    cursor: pointer;

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}
.sidebar-account {
    padding: 8px !important;
}
.sidebar-account {
    margin: 6px 0;
    .avatar {
        // padding: 8px;
        width: 32px;
        height: 32px;
    }
    .infor {
        height: 32px;
    }
    .name {
        font-family: 'Sophiapro', sans-serif;
        font-weight: 700;
        font-size: 1.5rem;
        line-height: 2.2rem;
    }
    .username {
        display: flex;
        line-height: 1.2rem;
        line-height: 1.5rem;
        margin-bottom: 2px;
    }
}
.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.infor {
    flex: 1;
    margin-left: 12px;
}
.name {
    font-size: 1.6rem;
    font-weight: 500;
}
.check-icon {
    margin-left: 6px;
    font-size: 1.3rem;
    color: rgb(90, 230, 240);
}
.username {
    color: rgba(22, 24, 35, 0.5);
    font-size: 1.4rem;
}
