.wrapper {
    --search-boder-radius: 92px;
    --search-height: 46px;
    --search-top-spacer: 9px;
    --search-button-width: 52px;
    width: 100%;
    height: var(--default-layout-header-height);
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #e5e5e5;
}
.inner {
    display: flex;
    width: var(--default-layout-width);
    height: 100%;
    padding: 0 var(--default-layout-horizontal-spacer);
    justify-content: space-between;
    align-items: center;
}
.logo {
    display: flex;
    align-items: center;
}
.search-result {
    width: 361px;
}
.search-title {
    color: rgba(22, 24, 35, 0.5);
    height: 30px;
    font-size: 1.4rem;
    padding: 5px 12px;
    font-weight: 600;
}
.search {
    position: relative;
    border: 1.5px solid transparent;
    display: flex;
    justify-content: space-between;
    width: 361px;
    height: var(--search-height);
    // margin-top: 7px;
    background-color: rgba(22, 24, 35, 0.08);
    border-radius: var(--search-boder-radius);
    padding-left: 16px;

    &::after {
        content: '';
        position: absolute;
        height: calc(var(--search-height) - var(--search-top-spacer) * 2);
        width: 1px;
        right: var(--search-button-width);
        top: var(--search-top-spacer);
        background-color: rgba(22, 24, 35, 0.12);
    }

    &:focus-within {
        border: 1.5px solid rgba(22, 24, 35, 0.2);
    }
}
.search-input {
    flex: 1;
    height: 100%;
    padding: 12px 0;
    color: var(--black-color);
    background-color: transparent;
    font-size: 1.6rem;
    font-weight: 400;
    caret-color: var(--primary-color);
}
.search-input:not(:placeholder-shown) ~ .search-btn {
    color: rgba(22, 24, 35, 0.75);
}
.clear,
.loading {
    position: absolute;
    right: calc(var(--search-button-width) + 16px);
    top: 50%;
    transform: translateY(-50%);
    color: rgba(22, 24, 35, 0.34);
}
.loading {
    display: none;
}
.search-btn {
    height: 100%;
    width: var(--search-button-width);
    border-top-right-radius: var(--search-boder-radius);
    border-bottom-right-radius: var(--search-boder-radius);
    font-size: 2rem;
    color: rgba(22, 24, 35, 0.34);
    &:hover {
        cursor: pointer;
        background-color: rgba(22, 24, 35, 0.03);
    }

    &:active {
        background-color: rgba(22, 24, 35, 0.06);
    }
}
.actions {
    display: flex;
    align-items: center;
    color: #181623;
    margin-top: 4px;
}
.actions-btn {
    font-size: 2.2rem;
    background-color: transparent;
    padding: 4px 12px;
    cursor: pointer;
}

.user-avatar {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    // overflow: hidden;
    object-fit: cover;
    margin-left: 12px;
    cursor: pointer;
}
.more-btn {
    font-size: 2rem;
    padding: 4px 6px;
    margin-left: 20px;
    background: transparent;
    cursor: pointer;
}
.menu-items {
    width: 224px;
}
