.video-block {
    margin-top: 8px;
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: calc(100% / 4 - 6px);

    // margin-right: 8px;
    min-height: 301px;

    border-radius: 8px;
    background-color: #666;
    cursor: pointer;

    overflow: hidden;
    .video {
        width: 100%;
        height: auto;

        z-index: 2;
    }
    .video-btn {
        position: absolute;
        bottom: 12px;
        left: 12px;

        color: #fff;
        font-size: 2.2rem;
    }
    & + .video-block {
        margin-left: 8px;
    }
    &.out {
        margin-left: 0px;
    }
}
